{%- extends 'admin/master.html' -%}


{%- block body -%}
    <ul>
        {%- for item in admin_view.admin.menu() -%}
            {%- if item.is_category() -%}
                {%- set children = item.get_children() -%}
                {%- if children -%}
                    <li>
                        {{ item.name }}
                        <ul>
                            {%- for child in children -%}
                                <li><a href="{{ child.get_url() }}">{{ child.name }}</a>
                            {%- endfor -%}
                        </ul>
                    </li>
                {%- endif -%}
            {%- else -%}
                {%- if item.is_accessible() and item.name != 'Home' -%}
                    <li><a href="{{ item.get_url() }}">{{ item.name }}</a>
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
    </ul>
{%- endblock -%}
