{% extends 'layouts/boilerplate.html' %}

{% from 'security/_macros.html' import render_field, render_field_with_errors %}

{% block main %}
  <div class="container xmas-container">
    <div class="row">
      <div class="col-md-12">
        <h1>Login</h1>
        <form action="{{ url_for('security.login') }}" method="POST" name="login_user_form">
          {{ login_user_form.hidden_tag() }}
          {{ render_field_with_errors(login_user_form.email) }}
          {{ render_field_with_errors(login_user_form.password) }}
          {{ render_field_with_errors(login_user_form.remember) }}
          {{ render_field(login_user_form.next) }}
          {{ render_field(login_user_form.submit) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
