{% extends 'layouts/boilerplate.html' %}

{% from 'bootstrap/wtf.html' import form_field %}

{% block title %}Reset Password - {{ super() }}{% endblock %}

{% block messages %}{% endblock %}

{% block main %}
  <div class="xmas-header">
    <div class="container">
      <h1>Reset Password</h1>
    </div>
  </div>

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <div class="xmas-messages">
        <div class="container">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <button type="button" class="close" data-dismiss="alert">x</button>
              {{ message }}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endwith %}

  <div class="container xmas-container">
    <div class="row">
      <div class="col-md-12">
        <div class="xmas-change">
          <form action="{{ url_for_security('reset_password, token=reset_password_token') }}" method="POST" name="reset_password_form">
            {{ reset_password_form.hidden_tag() }}
            {{ form_field(reset_password_form.password, placeholder='New Password') }}
            {{ form_field(reset_password_form.password_confirm, placeholder='Confirm Password') }}
            <div class="btn-group">
              <button type="submit" class="btn btn-default">Reset password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
