{% macro render_field_horizontal(field) %}
    <div class="control-group">
        {% if field.type == 'BooleanField' %}
            <div class="controls">
                <label class="checkbox">
                    {{ field(**kwargs)|safe }}
                    {{ field.label.text }}
                    {{ kwargs.get('extra', '') }}
                </label>
                {% if field.errors %}
                    <span class="help-block">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </span>
                {% endif %}
            </div>
        {% else %}
            <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
            <div class="controls">
                {{ field(placeholder=field.label.text, **kwargs) }}
                {% if field.errors %}
                    <span class="help-block">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </span>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endmacro %}
