<div class="xmas-item">
  <div class="xmas-details">
    <h3>
      {{ item }}
      {% if item.quantity > 1 %}
        <span class="quantity">(this x {{ item.quantity }})</span>
      {% endif %}
    </h3>
    {% if item.description %}<p>{{ item.description }}</p>{% endif %}
    <div class="btn-group">
      {% if item.is_claimed(current_user.id) %}
        <button type="button" class="btn btn-default xmas-unclaim" data-id="{{ item.id }}">Nah, I changed my mind</button>
        {% if item.is_purchased(current_user.id) %}
          <button type="button" class="btn btn-default xmas-return" data-id="{{ item.id }}">I was wrong, I haven't purchased this item yet</button>
        {% else %}
          <button type="button" class="btn btn-default xmas-purchase" data-id="{{ item.id }}">I've purchased this item</button>
        {% endif %}
      {% elif item.quantity == 0 or item.quantity_claimed == 0 %}
        <button type="button" class="btn btn-default xmas-claim" data-id="{{ item.id }}">I want to get this!</button>
      {% endif %}
    </div>
    {% set number_of_claims = item.claims|length - (1 if item.is_claimed(current_user.id) else 0) %}
    {% if number_of_claims %}
      <p>
        This item has been claimed by {{ number_of_claims }}
        {% if item.is_claimed(current_user.id) %}other{% endif %}
        {% if number_of_claims > 1 %}
          people.
        {% else %}
          person.
        {% endif %}
      </p>
    {% endif %}
  </div>
  {% if item.url %}
    <div class="highlight">
      <a href="{{ item.url }}" target="_blank">Show it to me</a>
    </div>
  {% endif %}
</div>
