{% extends 'layouts/boilerplate.html' %}

{% from 'bootstrap/wtf.html' import form_field %}

{% block messages %}{% endblock %}

{% block main %}
  <div class="xmas-header">
    <div class="container">
      <h1>My Profile</h1>
    </div>
  </div>
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <div class="xmas-messages">
        <div class="container">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <button type="button" class="close" data-dismiss="alert">x</button>
              {{ message }}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endwith %}

  <div class="container xmas-container">
    <div class="row">
      <div class="col-md-12" role="main">
        <div class="xmas-profile">
          <form action="{{ url_for('users.profile') }}" method="POST">
            {{ form.csrf_token }}
            {{ form_field(form.id) }}
            {{ form_field(form.name, placeholder='I want to be known as...') }}
            {{ form_field(form.email, placeholder='My email address is...') }}
            <div class="btn-group">
              <button type="submit" class="btn btn-default">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
