{% extends 'admin/model/list.html' %}


{% block list_row_actions -%}
  {{ super() }}

{%- if admin_view.can_edit and not row.is_locked -%}
<form action="{{ url_for('.assign_recipients', id=get_pk_value(row)) }}" method="post" class="icon">
  <button onclick="return confirm('Are you sure you want to assign recipients for this event?');">
    <i class="icon-user"></i>
  </button>
</form>
<form action="{{ url_for('.lock', id=get_pk_value(row)) }}" method="post" class="icon">
  <button onclick="return confirm('Are you sure you want to lock the recipients for this event?');">
    <i class="icon-lock"></i>
  </button>
</form>
{%- endif -%}
{%- endblock %}
