{% extends 'layouts/boilerplate.html' %}

{% block title %}Page Not Found - {{ super() }}{% endblock %}

{% block main %}
  <div class="xmas-header" id="container">
    <div class="container">
      <h1>Oops!</h1>
      <p>Something has gone wrong.</p>
    </div>
  </div>

  <div class="container xmas-container">
    <div class="row">
      <div class="col-md-12" role="main">
        <div class="xmas-error">
          The page you were looking for could not be found at this time. If you
          think this is a mistake, please try again. If it keeps happening, rest
          assured that Santa's elves have been notified and are hard at work on
          fixing it.
        </div>
      </div>
    </div>
  </div>
{% endblock %}
