{% extends 'bootstrap/base.html' %}

{% import 'bootstrap/fixes.html' as fixes %}

{% block head %}
  {{ super() }}
  {{ fixes.ie8() }}

  <link rel="icon" type="image/png" href="{{ url_for('dashboard.static', filename='img/icon.png') }}">
{% endblock %}

{% block title %}Secret Santa{% endblock %}

{% block metas %}
  {{ super() }}
  <meta charset="utf-8">
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('dashboard.static', filename='css/screen.css') }}" media="screen, projection">
  <link rel="stylesheet" href="{{ url_for('dashboard.static', filename='css/print.css') }}" media="print">
{% endblock %}

{% block navbar %}
  <header class="navbar navbar-inverse navbar-fixed-top xmas-main-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".xmas-navbar-collapse">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ url_for('dashboard.index') }}" class="navbar-brand">Secret Santa</a>
    </div>

    <nav class="collapse navbar-collapse xmas-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        {% if event %}
          <li{% if request.endpoint == 'events.view' %} class="active"{% endif %}>
            <a href="{{ url_for('events.view', slug=event.slug) }}">{{ event }}</a>
          </li>
          <li{% if request.endpoint == 'events.view_all_users' %} class="active"{% endif %}>
            <a href="{{ url_for('events.view_all_users', slug=event.slug) }}">Stocking Stuffers</a>
          </li>
          <li{% if request.endpoint == 'events.claims' %} class="active"{% endif %}>
            <a href="{{ url_for('events.claims', slug=event.slug) }}">Shopping List</a>
          </li>
          <li{% if request.endpoint == 'events.wishlist' %} class="active"{% endif %}>
            <a href="{{ url_for('events.wishlist', slug=event.slug) }}">My Wishlist</a>
          </li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated() %}
          {% if current_user.has_role('admin') %}
            <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
          {% endif %}
          <li{% if request.endpoint == 'users.profile' %} class="active"{% endif %}>
            <a href="{{ url_for('users.profile') }}">Profile</a>
          </li>
          <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('security.login') }}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
{% endblock %}

{% block content %}
  {% block messages %}
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div class="row-fluid">
          <div class="span12">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert"></button>
                {{ message }}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}
  {% endblock %}

  {% block main %}{% endblock %}

  <div class="xmas-footer"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('dashboard.static', filename='js/global-ck.js') }}"></script>
  {% if config['GOOGLE_ANALYTICS_ACCOUNT'] %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ config['GOOGLE_ANALYTICS_ACCOUNT'] }}', '{{ config['GOOGLE_ANALYTICS_DOMAIN'] }}');
    ga('send', 'pageview');

    </script>
  {% endif %}
{% endblock %}
