{%- extends 'base.html' -%}


{%- from 'macros/forms.html' import render_field_horizontal as render_field -%}


{%- block title -%}
    Register - {{ super() }}
{%- endblock -%}


{%- block hero -%}
    <div class="page-header">
        <div class="container">
            <h1>Register <small>for your Secret Santa.</small></h1>
        </div>
    </div>
{%- endblock -%}


{%- block content -%}
    <div class="container">
        <form method="post" class="form-horizontal">
            {{ form.csrf_token }}

            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm_password) }}

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Register</button>
                </div>
            </div>
        </form>
    </div>
{%- endblock -%}
